/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* -fx-font-family: RetroGaming; */
@font-face {
    src:url('file:res/fonts/RetroGaming.ttf');
}
@font-face {
    src: url('file:res/fonts/ChubbyChoo/ChubbyChoo-Regular.ttf');
}
@font-face {
    src: url('file:res/fonts/OrangeKid/orangekid.ttf');
}
@font-face {
    src: url('file:res/fonts/TrueType/SFPixelate-Bold.ttf');
}

/* Tout le programme */
*{
	/*-fx-font-family: 'Retro Gaming';*/
	-fx-font-family: 'SF Pixelate Bold';
}

.label{
	-fx-text-fill:white;
	-fx-font-size:30;
}
#connexionBP .text-field, #inscriptionBP .text-field{
	-fx-font-size:15;
	-fx-max-width:300;
}
#connexionBP VBox, #inscriptionBP VBox{
	-fx-padding:60 0 0 0;
	-fx-spacing:10;
}
#connexionBP HBox{
	-fx-padding:0 0 10 0;
}
#connexionBP VBox Button{
	-fx-font-size:20;
}
#connexionBP HBox Button, #inscriptionBP HBox Button{
	-fx-font-size:40;
}
Button{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-text-fill:white;
}
Button:hover{
	-fx-text-fill:cornflowerblue;
}
.noDoubAlert{
	-fx-text-fill:transparent;
}
#mainMenuBP VBox{
	-fx-font-size:40;
}
#parametersBP VBox{
	-fx-spacing:20;
}
#parametersBP ToggleButton{
	-fx-background-color:transparent;
	-fx-background-radius:30;
	-fx-border-style:solid;
	-fx-border-color:white;
	-fx-border-radius:25;
	-fx-border-width:3;
	-fx-pref-width:40;
	-fx-max-height:10;
}

#parametersBP ToggleButton:selected{
	-fx-background-color:white;
}

#parametersBP ToggleButton:hover{
	-fx-background-color:cornflowerblue;
	-fx-border-color:cornflowerblue;
}

#parametersBP .titleparam{
	-fx-font-size: 45;
}

#parametersBP Button{
	-fx-font-size:40;
}
.combo-box {
	-fx-border-color:transparent;
	-fx-background-color:white;
}

.combo-box .list-view .list-cell:selected{
	-fx-background-color:cornflowerblue;
}

.combo-box .list-view .list-cell:hover{
	-fx-background-color:cornflowerblue;
	-fx-text-fill:white;
}

.combo-box:hover{
	-fx-background-color:cornflowerblue;
	-fx-text-fill:white;
}
Slider:hover .track{
	-fx-background-color:cornflowerblue;
}
Slider .thumb:hover{
	-fx-padding:10;
}
#localGameBP VBox{
	-fx-spacing:-3;
}
#localGameBP .label{
	-fx-min-width:150;
}
#localGameBP .text-field{
	-fx-min-width:200;
}
#localGameBP .button{
	-fx-font-size:40;
}
.rectColorPicker:hover{
	-fx-fill:cornflowerblue;
}
.text-field:hover{
	-fx-background-color:cornflowerblue;
}
.noDoubAlert{
	-fx-text-fill:transparent;
	-fx-font-size:15;
}
.playerPanel {
	-fx-background-color: lightgrey;
	-fx-padding: 10;
}
.playerPanel:hover{
	-fx-scale-x:1.2;
	-fx-scale-y:1.2;
}
.playerPanel Label{
	-fx-font-size:15;
	-fx-text-fill:black;
}
.playerPanel Rectangle:hover{
	-fx-scale-x:1.5;
	-fx-scale-y:1.5;
}

.leftPlayerPanel{
	-fx-border-radius:0px 5px 5px 0px;
	-fx-background-radius: 0px 7px 7px 0px;
	-fx-border-width:3 3 3 0;
}
.leftPlayerPanel:hover{
	-fx-translate-x:20;
}
.rightPlayerPanel{
	-fx-border-radius:5px 0px 0px 5px;
	-fx-background-radius: 7px 0px 0px 7px;
	-fx-border-width:3 0 3 3;
}
#invisible{
	-fx-opacity: 0;
}

#questionDisplaySP Button{
	-fx-font-size:30;
}

#questionDisplaySP SubScene:hover{
	-fx-scale-x:1.3;
	-fx-scale-y:1.3;
}

.tooltip{
	-fx-font-size:105%;
	-fx-padding:10;
}
.chrono{
	-fx-font-size: 30;
	-fx-text-fill: white;
	-fx-padding:20;
	-fx-background-color: rgba(255, 255, 255, 0.1);
}
.currentPlayer{
	-fx-opacity: 1;
}
.currentPlayer .label{	
	-fx-text-fill: #474855;
	-fx-font-size: 20;
}
.otherPlayer{
	-fx-opacity:0.4;
}
.otherPlayer .label{
	-fx-text-fill: #474855;
	-fx-font-size: 15;
}

.displayQuestion, .displayPlayerTurn{
	-fx-background-color:rgba(0,0,0,0.8);
	-fx-max-width:800;
	-fx-background-radius: 5px;
}
.displayQuestion{
	-fx-max-height:500;
	-fx-padding: 0 20 0 20;
}
.displayQuestion *{
	-fx-opacity:1;
	-fx-font-size:22;
}
.displayPlayerTurn{
	-fx-max-height: 200;
	-fx-pref-width: 200;
	-fx-pref-height: 200;
	-fx-min-height: 100;
}
#gestionDeck TableView *{
	-fx-text-fill:black;
}
#gestionDeck AnchorPane VBox *{
	-fx-text-fill:black;
}

#gestionDeck Button{
	-fx-font-size:30;
}

#onlineBP Button{
	-fx-font-size:30;
}
.lblTitle{
	-fx-font-family: 'Chubby Choo';
	-fx-padding: 10 20 -70 20;
	-fx-font-size:120;
	-fx-text-fill: cornflowerblue ;
}